.front-header {
  height: 100%;
  background-color: #092d6c;
  background-repeat: no-repeat;
  min-height: 100vh; }
  .front-header .main {
    margin: 0 auto;
    padding-top: 3em;
    max-width: 1280px;
    color: #f2f2f2;
    font-size: 1.3em;
    line-height: 1.5em;
    padding-left: 2em;
    padding-right: 2em; }
    @media (min-width: 576px) {
      .front-header .main {
        padding-top: 2.5em;
        padding-left: 1em;
        padding-right: 1em; } }
    @media (min-width: 768px) {
      .front-header .main {
        padding-top: 4em;
        font-size: 2em;
        line-height: 1.7em; } }
    @media (min-width: 992px) {
      .front-header .main {
        padding-top: 128px; } }
    @media (min-width: 1200px) {
      .front-header .main {
        padding-top: 256px; } }
    .front-header .main a {
      text-decoration: none;
      text-decoration: underline; }
    .front-header .main .me {
      color: #E52A24;
      font-weight: bold; }
    .front-header .main .creative-orange {
      color: #ff533b; }
    .front-header .main .landstede {
      color: #ed135d; }
    .front-header .main .e-active {
      color: #903f98; }
    .front-header .main .windes {
      color: #cf8b01; }
    .front-header .main .azerty {
      color: #f1900b; }
    .front-header .main .dielle {
      color: #e80714; }
    .front-header .main .euron {
      color: #6f6e74; }
    .front-header .main .egm {
      color: #ff6633; }
    .front-header .main .twitter {
      color: #3cf; }
    .front-header .main .linkedin {
      color: #0077b5; }
    .front-header .main .iq, .front-header .main .github {
      color: #000000; }

@media (prefers-color-scheme: dark) {
  .front-header {
    background-color: #000000; }
    .front-header .main .iq, .front-header .main .github {
      color: #ffffff; } }
