.footer {
  position: relative;
  background-repeat: no-repeat;
  background-position: center; }
  .footer:before {
    background-position: center bottom;
    background-repeat: no-repeat;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    width: 100%;
    visibility: visible;
    z-index: 10;
    background-image: url("../assets/images/wave-divider.png");
    height: 256px;
    top: -250px; }
